.dc__container {
  display: grid;
  grid-auto-rows: 70px calc(100vh - 50px);
}

.dc__navbar {
  display: flex;
  justify-content: space-between;
  padding: 0 30px;

  &-logo {
    display: flex;
    align-items: center;
  }

  &-buttons {
    display: flex;
    align-items: center;
    gap: 50px;

    a {
      font-size: 18px;
    }

    &-starter {
      height: 35px;
      background-color: transparent;
      color: black;
      border-color: black;
      border-width: 2px;
    }
  }
}

.dc__body {
  display: flex;
  padding: 0 150px;
  justify-content: space-between;

  &-message {
    padding: 10% 50px 0 50px;

    h1 {
      font-size: 80px;
    }

    button {
      height: 45px;
      background-color: black;
      font-size: 20px;
      border-color: black;
      border-width: 2px;
    }
  }

  &-avatar {
    img {
      max-height: 100%;
    }
  }
}
