<article class="dc__container">
  <section class="dc__navbar">
    <section class="dc__navbar-logo">
      <img src="assets/images/favicon-32x32.png">
      <h2 nz-typography>Ng Zorro</h2>
    </section>

    <nav class="dc__navbar-buttons">
      <a routerLink="/characters" nz-button nzType="text">Characters</a>
      <a routerLink="/episodes" nz-button nzType="text">Episodes</a>
      <a routerLink="/locations" nz-button nzType="text">Locations</a>
      <a routerLink="/normal1" nz-button nzType="text">Normal 1</a>

      <a
        class="dc__navbar-buttons-starter"
        nz-button nzType="primary"
        routerLink="/normal2"
        nzShape="round">Normal 2
      </a>
    </nav>
  </section>

  <section class="dc__body">
    <section class="dc__body-message">
      <h1 nz-typography>
        Make remote work
      </h1>

      <h4 nz-typography>
        Get your team is sync. no matter your location.
        Streamline processes, create team rituals, and watch productivity soar.
      </h4>

      <button  nz-button nzType="primary" nzShape="round">
        Add a image
      </button>
    </section>

    <section class="dc__body-avatar">
      <img src="assets/images/image-hero-desktop.png">
    </section>
  </section>
</article>
