<article class="dc__body">
  <section class="dc__body-message">
    <h1 nz-typography>
      Make remote work
    </h1>

    <h4 nz-typography>
      Get your team is sync. no matter your location.
      Streamline processes, create team rituals, and watch productivity soar.
    </h4>

    <button nz-button nzType="primary" nzShape="round">
      Add a image
    </button>
  </section>

  <section class="dc__body-avatar">
    <img src="assets/images/image-hero-desktop.png">
  </section>
</article>
|
