<article class="dc__container">
  <section class="dc__navbar">
    <section class="dc__navbar-logo">
      <img src="assets/images/favicon-32x32.png">
      <h2>Routing</h2>
    </section>

    <section class="dc__navbar-buttons">
      <button>Home</button>
      <button>About Us</button>
      <button>Course</button>
      <button>Contact</button>

      <button
        class="dc__navbar-buttons-starter"
      >
        Get started
      </button>
    </section>
  </section>

  <section class="dc__body">
    <section class="dc__body-message">
      <h1 nz-typography>
        Make remote work
      </h1>

      <h4 nz-typography>
        Get your team is sync. no matter your location.
        Streamline processes, create team rituals, and watch productivity soar.
      </h4>

      <button>
        Let's do it
      </button>
    </section>

    <section class="dc__body-avatar">
      <img src="assets/images/image-hero-desktop.png" alt="">
    </section>
  </section>
</article>
